components/shipping/ups/SchemasAddress/AVRequest.xsd

<xsd:schema elementFormDefault="unqualified" xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">  <xsd:element name="AddressValidationRequest">    <xsd:complexType>      <xsd:sequence>        <xsd:element name="Request" type="RequestType"/>        <xsd:element name="Address" type="AddressType"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:complexType name="AddressType">    <xsd:sequence>      <xsd:element minOccurs="0" name="City" type="xsd:string"/>      <xsd:element minOccurs="0" name="StateProvinceCode" type="xsd:string"/>      <xsd:element minOccurs="0" name="CountryCode" type="xsd:string"/>      <xsd:element minOccurs="0" name="PostalCode" type="xsd:string"/>    </xsd:sequence>  </xsd:complexType>  <xsd:complexType name="RequestType">    <xsd:sequence>      <xsd:sequence>        <xsd:element minOccurs="0" name="TransactionReference" type="TransactionReferenceType"/>        <xsd:element name="RequestAction" type="xsd:string"/>        <xsd:element minOccurs="0" name="RequestOption" type="xsd:string" ups:usage="notused"/>      </xsd:sequence>    </xsd:sequence>  </xsd:complexType>  <xsd:complexType name="TransactionReferenceType">    <xsd:sequence>      <xsd:element minOccurs="0" name="CustomerContext" type="xsd:string"/>      <xsd:element minOccurs="0" name="ToolVersion" type="xsd:string" ups:usage="notused"/>    </xsd:sequence>  </xsd:complexType></xsd:schema>